/** To alway show burgers on navbar **/
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
/** original parts **/
/* common */
h1 {
 font-size:2em;
}
body {
  position:relative !important;
  top:45pt;
}
body > div.navbar {
  position:fixed;
  width:100%;
  z-index:100;
}
body > div.navbar-collapse {
  background-color:#ddd;
}
.navbar {
  background-color:#e89681;
}
.btn-primary:not(.btn-link):not(.btn-flat){
  /*background-color:#e89681;*/
  background-color:#8196c8;
}
/* home */
body.home {
  background-image: url("/img/home_bg.png");
  background-position: center 50px;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}
body.home div.lead {
  color:white;
  font: 250% cursive;
  margin: 30pt 5pt 5pt 5pt;
}
body.home p.description {
  color:white;
  font: 18pt serif;
  margin: 5pt;
}
body.home h1 {
  color:white;
  font: 300% cursive;
  margin: 30pt 5pt 5pt 5pt;
}
/* footer */
body.home .footer {
  position: absolute;
  background-color: rgba( 255, 255, 255, 0 );
  margin-bottom:-50pt;
}
.footer {
  display:block;
  width:100%;
  /*background-color:#4285f4;*/
  background-color:#e89681;
  bottom: 0;
  text-align:center;
}
p.copyright {
  margin: 8pt auto 8pt auto;
  color:white;
}
/* sidebar */
#sidr > .nav-title {
  padding:10px;
  background-color:#aaaaaa;
  color:white;
}
/* parts */
.menu-large-category {
  display:block;
  max-width:100%;
  height:auto;
  border-bottom:1px solid #000000;
}
.menu-large-category img {
  max-width:100%;
  height:auto;
}
.menu-small-category {
  display:none;
}
/* form */
.error-message {
  display:block;
  color:red;
}
img.img-thumbnail {
  width:100%;
}

.sns-logo {
  width:70pt;
  margin:10pt;
}
/* map */
div#map {
 height:120pt;
}