/** header nav */
div#dummy-header {
  display: block;
  width: 100%;
  height: 50px;
  background-color:#333;
  margin:0px;
}
div#header {
  display: block;
  width: 100%;
  height: 50px;
  background-color:#e89681;
  margin:0px;
  position: fixed;
  top: 0;
  left:0px;
  z-index:1;
}
.sidr-open div#header {
  left:260px;
}
div#header .header-toggle {
  display: block;
  height: 50px;
  width: 60px;
  background-image: url("/img/icon-list.gif");
  background-size: 44px auto;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
}
div#header .header-body {
  display: block;
  height: 50px;
  float:left;
}
div#header .header-add {
  display: block;
  float:right;
  //margin: 10px 10px 0px 10px;
}
div#header .header-add img {
  height:50px;
}
div#header .header-user {
  display: block;
  height: 50px;
  width: 50px;
  float:right;
}
div#header .header-user img {
  height:50px;
}
.user-icon {
  width:100px;
}
div#header .clear {
  clear:both;
}
div#header .site-logo {
  height:100%;
}
/** To alway show burgers on navbar **/
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
/** original parts **/
/* common */
h1 {
 font-size:2em;
}
h2 {
 font-size:1.5em;
}
body {
  position:relative !important;
}
body > div.navbar {
  position:fixed;
  width:100%;
  z-index:100;
}
body > div.navbar-collapse {
  background-color:#ddd;
}
.navbar {
  background-color:#e89681;
}
.btn-primary:not(.btn-link):not(.btn-flat){
  /*background-color:#e89681;*/
  background-color:#8196c8;
}
/* home */
body.home {
  background-image: url("/img/home_bg.png");
  background-position: center 50px;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}
body.home div.lead {
  color:white;
  //font: 250% cursive;
  font: 250% cursive, "ＭＳ 明朝",serif;
  margin: 30pt 5pt 5pt 5pt;
}
body.home p.description {
  color:white;
  font: 18pt serif;
  margin: 5pt;
}
body.home h1 {
  color:white;
  //font: 300% cursive;
  font: 300% cursive, "ＭＳ 明朝",serif;
  margin: 20pt 5pt 5pt 5pt;
}
/* footer */
body.home .footer {
  position: absolute;
  background-color: rgba( 255, 255, 255, 0 );
  margin-bottom:-50pt;
}
.footer {
  display:block;
  width:100%;
  /*background-color:#4285f4;*/
  background-color:#e89681;
  bottom: 0;
  text-align:center;
}
p.copyright {
  margin: 8pt auto 8pt auto;
  color:white;
}
/* sidebar */
#sidr > .nav-title {
  padding:10px;
  background-color:#aaaaaa;
  color:white;
}
/* main content */
#mainContent {
  //margin-top:10pt;
}
.social-buttons {
  margin-top:10pt;
}
/* parts */
.menu-large-category {
  display:block;
  max-width:100%;
  height:auto;
  border-bottom:1px solid #000000;
}
.menu-large-category img {
  max-width:100%;
  height:auto;
}
.menu-small-category {
  display:none;
}
/* form */
.error-message {
  display:block;
  color:red;
}
img.img-thumbnail {
  width:100%;
}

.sns-logo {
  width:70pt;
  margin:10pt;
}
/* map */
div#map {
 height:120pt;
}
.selected {
  border-bottom:1px solid #008800;
  background-color: #dddddd;
}
/* menu camera */
.camera-open {
  display:block;
  width: 45px;
  height: 45px;
  background-color: #cccccc;
  background-image: url("/img/icon-camera.png");

  background-size: cover;
  text-indent:-9999px;
}
.picture-taken {
  background-image: url("/img/icon-camera-taken.png");
}
/* menu price */
.price {
  color:#884422;
  max-width:80px;
  font-weight:bolder;
  font-size:14pt;

  -moz-border-radius: 4px;    /* Firefox */
  -webkit-border-radius: 4px; /* Safari,Chrome */
  border-radius: 4px;         /* CSS3 */

  //border: 1px green solid;
  background-color: #cccccc;
  padding: 2px;
}
/* menu image */
.row-picture{
  overflow: hidden;
}
.row-picture img{
  width: 100%;
}
/* menu tag category */
div.tag-button {
  display: block;
  height: 60px;
  width:80px;
  /* border-bottom: 1px solid #000000; */
  /* border-right: 1px solid #000000; */
  /* border-left: 1px solid #ffffff; */
  background: #e8c7be;
  background-size: cover;
  margin:3px;
}
div.tag-button a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-weight: bold;
}
/* menu edit */
.tag-radio {
  padding:0;
}
.tag-radios input[type=radio] {
  display: none;
}
.tag-radios input[type=radio] + label {
  display: block;
  height: 60px;
  /* border-bottom: 1px solid #000000; */
  /* border-right: 1px solid #000000; */
  /* border-left: 1px solid #ffffff; */
  /* background: #e8c7be; */
  background: #bbb;
  background-size: cover;
  //text-indent:-9999px;
  margin:3px;
}
.tag-radios input[type=radio]:checked + label {
  background: #e89681;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 0px;
  border-right: 0px;
}
/* background-image for menu_tag */
div.tag-button.tag1, input#MenuTagId1[type=radio] + label {
  background-image: url("/img/tag_curry.gif");
}
div.tag-button.tag4, input#MenuTagId4[type=radio] + label {
  background-image: url("/img/tag_thai_curry.gif");
}
div.tag-button.tag8, input#MenuTagId8[type=radio] + label {
  background-image: url("/img/tag_indian_curry.gif");
}
div.tag-button.tag30, input#MenuTagId30[type=radio] + label {
  background-image: url("/img/tag_pasta.gif");
}
div.tag-button.tag13, input#MenuTagId13[type=radio] + label {
  background-image: url("/img/tag_ramen.gif");
}
div.tag-button.tag14, input#MenuTagId14[type=radio] + label {
  background-image: url("/img/tag_tsukemen.gif");
}
div.tag-button.tag24, input#MenuTagId24[type=radio] + label {
  background-image: url("/img/tag_tantanmen.gif");
}
div.tag-button.tag42, input#MenuTagId42[type=radio] + label {
  background-image: url("/img/tag_udon.gif");
}
div.tag-button.tag55, input#MenuTagId55[type=radio] + label {
  background-image: url("/img/tag_setmenu.gif");
}
div.tag-button.tag56, input#MenuTagId56[type=radio] + label {
  background-image: url("/img/tag_meat.gif");
}
div.tag-button.tag57, input#MenuTagId57[type=radio] + label {
  background-image: url("/img/tag_fish.gif");
}
div.tag-button.tag94, input#MenuTagId94[type=radio] + label {
  background-image: url("/img/tag_local.gif");
}
div.tag-button.tag71, input#MenuTagId71[type=radio] + label {
  background-image: url("/img/tag_western.gif");
}
div.tag-button.tag104, input#MenuTagId104[type=radio] + label {
  background-image: url("/img/tag_chinese.gif");
}
div.tag-button.tag128, input#MenuTagId128[type=radio] + label {
  background-image: url("/img/tag_thai.gif");
}
div.tag-button.tag115, input#MenuTagId115[type=radio] + label {
  background-image: url("/img/tag_korean.gif");
}
