/** original parts **/
/* home */
body.home {
  background-image: url("/img/home_bg.png");
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}
body.home div.lead {
  color:white;
  font: 36pt cursive;
  margin: 5pt;
}
body.home p.description {
  color:white;
  font: 18pt serif;
  margin: 5pt;
}
/* footer */
body.home .footer {
  position: absolute;
}
.footer {
  display:block;
  width:100%;
  background-color:#4285f4;
  bottom: 0;
  text-align:center;
}
p.copyright {
  margin: 8pt auto 8pt auto;
  color:white;
}
/* parts */
.menu-large-category {
  display:block;
  max-width:100%;
  height:auto;
  border-bottom:1px solid #000000;
}
.menu-large-category img {
  max-width:100%;
  height:auto;
}
.menu-small-category {
  display:none;
}

